<div class="login" id="login-form" [formGroup]="loginForm" autocomplete="off" >
    <div class="center">
        <h2 class="form-title" id="login" (click)="login()"><span>or</span>Log in</h2>
        <div class="form-holder">
            <input type="email" class="input" placeholder="Email" formControlName="username" />
            <input type="password" class="input" placeholder="Password" formControlName="password" autocomplete="new-password"/>
        </div>
        <button class="submit-btn" [ngClass]="{'progress': isDisabled}" [disabled]="isDisabled" (click)="onLogin()">Log in</button>
    </div>
</div>