<div class="login" id="login-form" [formGroup]="loginForm" autocomplete="off" >
    <div class="center">
        <h2 class="form-title" id="login" (click)="login()"><span>or</span>Log in</h2>

        <ng-container *ngIf="!loginSSO">
        <div class="form-holder">
            <input type="email" class="input" placeholder="Email" formControlName="username" />
            <input type="password" class="input" placeholder="Password" formControlName="password" autocomplete="new-password"/>
        </div>
        <button class="submit-btn" [ngClass]="{'progress': isDisabled}" [disabled]="isDisabled" (click)="onLogin()">Log in</button>
   
        </ng-container>

        <ng-container *ngIf="loginSSO">
            <div class="form-holder">
                <input type="text" class="input" placeholder="Organisation" formControlName="organisation" />
            </div>
            <button class="submit-btn" [ngClass]="{'progress': isDisabled}" [disabled]="isDisabled" (click)="ssoLogin()">Log in</button>
       
         </ng-container>
    </div>
    
    <div class="login-sso">
        <ng-container *ngIf="!loginSSO">
            <a href="javascript:void(0)" (click)="loginSSO = true">Login with SSO</a>
        </ng-container>

        <ng-container *ngIf="loginSSO">
            <a href="javascript:void(0)" (click)="loginSSO = false">Login with email</a>
        </ng-container>
    </div>
</div>