
<div class="seat-plan-section padding-bottom padding-top">
    <div class="container">
        <div class="screen-area">
            <h4 class="screen">East Gate Facing</h4>
            <div class="screen-thumb">
                <!-- <img src="./assets/images/movie/screen-thumb.png" alt="movie"> -->
            </div>
            <h5 class="subtitle">silver plus</h5>
            <div class="screen-wrapper">
                <ul class="seat-area">
                    <li class="seat-line">
                        <span>A</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="./assets/images/movie/seat01-free.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>

                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>

                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>

                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>

                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="./assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>A</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="proceed-book bg_img" data-background="./assets/images/movie/movie-bg-proceed.jpg">
            <div class="proceed-to-book">
                <div class="book-item">
                    <span>You have Choosed Seat</span>
                    <h3 class="title">d9, d10</h3>
                </div>
                <div class="book-item">
                    <span>total price</span>
                    <h3 class="title">$150</h3>
                </div>
                <div class="book-item">
                    <a href="javascript:void(0)" (click)="redirectTo()" class="custom-button">proceed</a>
                </div>
            </div>
        </div>
    </div>
</div>