
    <!-- ==========Footer-Section========== -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-top">
                <div class="logo">
                    <a href="javascript:void(0)" routerLink="/">
                       IPL Booking
                    </a>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left">
                        <p>Copyright © 2020.All Rights Reserved By <a href="javascript:void(0)">Ipl Booking</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==========Footer-Section========== -->