


<section class="account-section bg_img" autocomplete="off" data-background="assets/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate">hello</span>
                    <h2 class="title">welcome back</h2>
                    <p class="error-msg" *ngIf="isError">{{errorMessage}}</p>
                </div>
                <form class="account-form" [formGroup]="loginForm">
                    <div class="form-group">
                        <label for="email2">Email<span>*</span></label>
                        <input type="text" placeholder="Enter Your Email" id="email2" required formControlName="username">
                    </div>
                    <div class="form-group">
                        <label for="pass3">Password<span>*</span></label>
                        <input type="password" placeholder="Password" id="pass3" required formControlName="password">
                    </div>
                    <!-- <div class="form-group checkgroup">
                        <input type="checkbox" id="bal2" required checked>
                        <label for="bal2">remember password</label>
                        <a href="#0" class="forget-pass">Forget Password</a>
                    </div> -->
                    <div class="form-group text-center">
                        <input type="button" value="log in" [disabled]="isDisabled" (click)="onLogin()">
                    </div>
                </form>
                <div class="option">
                    Don't have an account? <a href="javascript:void(0)" routerLink="/signup">sign up now</a>
                </div>
            </div>
        </div>
    </div>
</section>